@import "tailwindcss";

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #030213;
  --primary: #030213;
}

html {
  font-size: var(--font-size);
}

body {
  @apply bg-white text-gray-900;
}
